/*$grid-columns:                16 !default;
$grid-gutter-width:           12px !default;*/
$body-color:#000;
$gray-color:#a8a8a8;
$gray-border-promo:#d2d2d2;
$body-color-for-big:#282828;
$black-modal: #0f0f0f;
$black-modal-small: #0c0c0c;
$body-bg:#ffffff;
$font-family-sans-serif: 'Fira Sans', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$dropdown-spacer: 0 !default;
$dropdown-border-color:$body-color !default;
$dropdown-border-width: 2px !default;
$dropdown-link-active-color:        $body-bg !default;
$dropdown-link-active-bg:           $body-color !default;
$btn-border-width: 2px !default;
$width-default:100% !default;
$intro-cond-black-free: 'Intro Cond Black Free';