//@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500');
@font-face {
    font-family: 'Intro Cond Black Free';
    src: url('/static/fonts/intro-cond-black-free.eot');
    src: url('/static/fonts/intro-cond-black-free.eot?#iefix') format('embedded-opentype'),
          url('/static/fonts/intro-cond-black-free.ttf') format('truetype'),
          url('/static/fonts/intro-cond-black-free.woff') format('woff'),
          url('/static/fonts/intro-cond-black-free.svg') format('svg');
    font-weight: bold;
    font-style: normal;
  }
