footer.container-fluid
    .container-center-xl
        .media-container-row.text-center
            .col-12.col-sm-12.col-md-4.padding-left-md-0
                .media-wrap.text-body
                    .font-size-14px.text-md-left
                        |(066) 882 14 27, Семен
                        br
                        |(066) 882 14 28, Анастасия
                        br
                        br
                        |sneg.photography@gmail.com
            .col-12.col-sm-12.col-md-4
                .media-wrap.text-body
                    a.font-size-32px.left-social-icon(href="#")
                        i.fab.fa-instagram.fa-fw.text-body
                    a.font-size-32px.right-social-icon(href="#")
                        i.fab.fa-behance.fa-fw.text-body
                    .font-size-14px.margin-top-14px With <span class="emoji">&#x2764;</span> СНЕГ photography
.clearfix
.to-top
    i.fas.fa-chevron-up.fa-lg

script.  
    WebFontConfig = {
        google: { families: [ 'Fira+Sans:400,500'] }
        };
        (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
    })();
        