header.container-fluid.fixed-top
    .container-center-xl
        nav.navbar.navbar-toggleable.navbar-short.navbar-expand-xl        
            button.navbar-toggler.navbar-toggler-left(type="button", data-toggle="collapse", data-target="#navbarHeaderMenu", aria-controls="navbarHeaderMenu", aria-expanded="true", aria-label="Toggle navigation")
                .hamburger
                    span
                    span
                    span
                    span
            .menu-logo
                .nav-brand
                    .navbar-caption-wrap
                        a.navbar-caption(href="#")
                            img.logo(src="static/img/logo.png", alt="СНЕГ photography логотип")
            button.navbar-toggler.navbar-toggler-right(type="button", data-toggle="collapse", data-target="#navbarHeaderPhone", aria-controls="navbarHeaderPhone", aria-expanded="true", aria-label="Toggle navigation")
                .phone
                    i.fas.fa-phone.fa-fw.text-body
            .clearfix
            .navbar-collapse.collapse(id="navbarHeaderMenu")
                .d-flex
                    ul.navbar-nav.nav-dropdown.mx-auto.justify-content-center
                        li.nav-item
                            a.nav-link(href="#")
                                |ГЛАВНАЯ
                                span
                                span
                        li.nav-item
                            a.nav-link(href="#")
                                |СВАДЬБЫ
                                span
                                span
                        li.nav-item
                            a.nav-link(href="#")
                                |LOVE STORY
                                span
                                span
                        li.nav-item
                            a.nav-link(href="#")
                                |СЕМЕЙНЫЕ
                                span
                                span
                        li.nav-item
                            a.nav-link(href="#")
                                |ДРУГОЕ
                                span
                                span
                        li.nav-item
                            a.nav-link(href="#")
                                |В ПОДАРОК
                                span
                                span
                        li.nav-item
                            a.nav-link(href="#")
                                |ФОТОКУРС
                                span
                                span
            .navbar-collapse.collapse(id="navbarHeaderPhone")
                .d-flex
                    ul.navbar-nav.nav-dropdown.mx-auto.justify-content-center
                        li.nav-item
                            a.nav-link(href="tel:+380668821428")
                                |(066) 882 14 28
                        li.nav-item
                            a.nav-link(href="tel:+380668821427")
                                |(066) 882 14 27
                
